<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} - WebChatIo</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav class="nav-bar">
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('signup') }}">Sign up</a>
    <a href="{{ url_for('donate') }}">Donate</a>
    </nav>
    <h2 class="bar">WebchatIo - {% block nav %}{% endblock %}</h2>
    {% block content %}{% endblock content %}
</body>
</html>