

<!DOCTYPE html>
<html>
<head>
    <title>Socket.IO Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
    <div id="messages"></div>
    <form id="message-form">
        <input type="text" id="message-input" />
        <button type="submit">Send</button>
    </form>

    <script>
        //var socket = io.connect('http://host:5000');
	    var socket = io()
        function handleMessage(msg) {
            var messageContainer = document.createElement('div');
            messageContainer.innerHTML = msg;
            document.getElementById('messages').appendChild(messageContainer);
        }

        socket.on('message', handleMessage);

        function handleFormSubmit(event) {
            event.preventDefault();
            var input = document.getElementById('message-input');
            var message = input.value;
            socket.send(message);
            input.value = '';
        }

        document.getElementById('message-form').addEventListener('submit', handleFormSubmit);
    </script>
</body>
</html>






