{% extends "base.html.jinja" %}
{% block nav %}Login{% endblock nav %}
{% block content %}
<form method="post" style="border:1px solid #ccc;margin-top: 60px">
        <div class="'container">
            <h1 style="text-align: center;">Login</h1>
            <hr>
            <label for='id'><b>Unique Id</b></label>
            <input type="text" name="id" 
                placeholder="Enter Id that was given to you after you signed up" 
                value="" required>
            <label for='username'><b>UserName</b></label>
            <input type="text" name="username" 
                placeholder="Enter Username" 
                value="" required>
            
            <label for="psw"><b>Password</b></label>
            <input type="password" name="pass"
                placeholder="Input password" required>
            <p>Our developer will love your <a href="{{ url_for('donate')}}" style="color:dodgerblue">donations</a>.</p>
            <div class="clearfix">
                <button type="submit" class="signupbtn">Login</button>
            </div>
        </div>
    </form>
    {% with messages = get_flashed_messages() %}
{% if messages %}
<script>
var messages = {{ messages | safe }};
for (var i=0; i < messages.length; i++) {
    alert(messages[i])
}
</script>
{% endif %}
{% endwith %}
    </p>
{% endblock content %}