<!DOCTYPE html>
<html>
<head>
    <title>WEBCHAT IO - CHAT</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
    <h1><a href="{{ url_for('index')}}">logout</a></h1>
    <div id="messages">
    {% for f in show %}
    <div>{{ f['messages'] }}</div>
    {% endfor %}</div>
    <form id="message-form">
	<input type="text" hidden value="{{ rt }}" id='useR'/>
        <input type="text" id="message-input" required placeholder='Input message'/>
        <button type="submit">Send</button>
    </form>                   

    <script>
        //var socket = io.connect('192.168.56.1:5000');
	    var socket = io()
        function handleMessage(msg) {
	    var messageContainer = document.createElement('div');
        messageContainer.innerHTML = msg;
	    document.getElementById('messages').appendChild(messageContainer);
            
        }

        socket.on('message', handleMessage);

        function handleFormSubmit(event) {
            event.preventDefault();
            var input = document.getElementById('message-input');
	        var useR = document.getElementById('useR').value;
            var out = input.value;
	        var message = `${useR} : ${out}`
            socket.send(message);
            input.value = '';
        }

        document.getElementById('message-form').addEventListener('submit', handleFormSubmit);
    </script>
</body>
</html>






