{% extends 'base.html.jinja' %}

{% block content %}
    <h1>Welcome to the Webchat App!</h1>
    <p>Thank you for choosing our platform to connect with others.</p>
    <p>If you haven't signed up yet, click the button below to create an account:</p>
    <a href="/signup" class="signup-btn">Sign Up</a>
{% endblock %}

