{% extends 'base.html.jinja' %}

{% block content %}
     <style>
    /* Custom CSS styles for the home page */
    .home-container {
        text-align: center;
        margin-top: 100px;
    }

    .home-container h1 {
        font-size: 36px;
        color: #333;
        margin-bottom: 20px;
    }

    .home-container p {
        font-size: 18px;
        color: #666;
        margin-bottom: 15px;
    }

    .home-container ul {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
        margin-bottom: 20px;
    }

    .home-container ul li {
        margin-bottom: 10px;
    }

    .signup-btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #FF5A5F;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    .signup-btn:hover {
        background-color: #E5484D;
    }
</style>






    <div class="home-container">
        <h1>Welcome to the Webchat App!</h1>
        <p>Connect with people around the world in real-time conversations.</p>
        <p>Join our vibrant community and start chatting today!</p>
        <p>Features:</p>
        <ul>
            <li>Instant messaging</li>
            <li>Group chats</li>
            <li>Emojis and stickers</li>
            <li>File sharing - Still in development</li>
            <li>Video and voice calls - Still in development</li>
        </ul>
        <a href="/signup" class="signup-btn">Sign Up Now</a>
    </div>
{% endblock %}

