{% extends 'base.html.jinja' %}

{% block content %}
    <div class="login-container">
        <h1>Login to Your Account</h1>
        <form action="/login" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit" class="login-btn">Log In</button>
        </form>
        <p>Don't have an account yet? <a href="/signup">Sign up here</a></p>
    </div>
{% endblock %}

